body {
    margin: 0;
    padding: 20px 0;
    font-family: 'Georgia', serif;
    background-color: #3b2f2f;
    background-image: linear-gradient(#3b2f2f, #1e1414);
    color: #f5e6c8;

    display: flex;
    justify-content: center;
}

#container {
    background-color: #2b1d1d;
    padding: 20px;
    max-width: 420px;
    text-align: center;
    border: 4px solid #7a5c3e;

    margin-top: 20px;
    margin-bottom: 20px;
}

#poster img {
    width: 100%;
    border: 3px solid #7a5c3e;
    margin-bottom: 15px;
}

#title {
    margin: 10px 0;
    letter-spacing: 2px;
}

#message {
    margin-bottom: 15px;
    white-space: pre-line; /* permite \n no JS */
}

input {
    width: 90%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #7a5c3e;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #9b774f;
}
